---
import { actions } from "astro:actions";
import MapLayout from "@/layouts/MapLayout.astro";
import Menu from "@/components/Menu.astro";
import type {
  PropertyParamsItems,
  PropertyResultItems,
} from "@/utils/property";

import PropertyGalery from "@/components/PropertyGalery.astro";
import MapStatic from "@/components/MapStatic.tsx";

import Phone from "@/components/icons/Phone.astro";
import Arrow from "@/components/icons/Arrow.astro";
import Share from "@/components/icons/Share.astro";
import Bed from "@/components/icons/Bed.astro";
import Sqft from "@/components/icons/Sqft.astro";
import Bath from "@/components/icons/Bath.astro";
import Parking from "@/components/icons/Parking.astro";

const { mlsnumber } = Astro.params;

const API_TOKEN = import.meta.env.PUBLIC_API_TOKEN ?? "bad_token";
const API_URL = import.meta.env.PUBLIC_API_URL ?? "bad_url";

const search = {
  data: { mlsnumber },
  key: API_TOKEN,
  urlBase: API_URL,
  pagination: { page: 0, total: 1 },
} as PropertyParamsItems;

const { data } = await Astro.callAction(actions.property.getProperty, search);
const { dataProperty } = data ?? { dataProperty: [] };

const error = dataProperty.length === 0;
const property = (dataProperty[0] as PropertyResultItems) ?? {};

const USDollar = new Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD",
  minimumFractionDigits: 0,
});
const DecimalNumber = new Intl.NumberFormat("en-US", {
  style: "decimal",
  minimumFractionDigits: 0,
});
---

<MapLayout title="overview test">
  <Menu isBorder />
  <main
    class="flex flex-col justify-between items-center w-full lg:max-w-7xl mx-auto px-8 sm:px-10"
  >
    <div class="flex justify-between items-center w-full py-8 font-sans">
      <div>
        <button
          id="backButtonOverview"
          class="flex items-center justify-start gap-2"
          ><Arrow className="size-5 stroke-black -ml-2" />Back to Result
        </button>
      </div>
      <div>
        <button
          id="shareButtonOverview"
          class="flex items-center justify-start gap-1"
          ><Share className="size-5 stroke-black" />Share
        </button>
      </div>
    </div>

    {error && <p>Property not found</p>}
    {
      property && (
        <section class="flex flex-col items-center justify-center gap-4 w-full">
          <PropertyGalery address={property.address} photos={property.photos} />

          <div class="flex justify-between items-start gap-10 w-full">
            <main class="flex flex-col px-4 py-2 gap-2 w-full mb-20">
              <div class="flex flex-col lg:flex-row justify-start lg:justify-between  items-start lg:items-center">
                <h2 class="text-3xl font-medium">
                  {property.proptype == "Residential" ? "For Sale" : "For Rent"}
                  {USDollar.format(property.price)}
                </h2>
                <div class="flex items-center gap-2 pt-2">
                  <p class="flex gap-1 items-center">
                    <Bed className="size-5 stroke-black" /> {property.beds}
                  </p>
                  <p class="flex gap-1 items-center">
                    <Bath className="size-5 stroke-black" />
                    {property.baths}
                  </p>
                  <p class="flex gap-1 items-center">
                    <Parking className="size-5 stroke-black" />
                    {property.garage}
                  </p>
                  <p class="flex gap-1 items-center">
                    <Sqft className="size-5 stroke-black" />
                    {DecimalNumber.format(property.sqft)} sqft
                  </p>
                </div>
              </div>

              <h2 class="text-base">{property.address}</h2>

              <p class="pt-2 text-sm text-secondary-800">
                {property.mlsnumber}, {property.subdivision},{" "}
                {property.propsubtype}
              </p>

              <h3 class="font-semibold text-lg capitalize mt-6 my-4">
                property description
              </h3>
              <p class="text-sm text-pretty">{property.description}</p>

              <h3 class="font-semibold text-lg capitalize mt-8 my-4">
                property details
              </h3>
              <div class="grid grid-cols-2 lg:grid-cols-3 gap-2 w-full lg:w-4/6">
                <p>{property.yearbuilt} Year Built</p>
                <p>{property.baths} Bathrooms</p>
                <p>{property.beds} Bedrooms</p>
                <p>{DecimalNumber.format(property.sqft)} Sqft</p>
                <p>{property.garage} Parking</p>
              </div>

              <h3 class="font-semibold text-lg capitalize mt-8 my-4">
                property location
              </h3>
              <div class="h-64 w-full rounded-lg overflow-hidden shadow-lg">
                <MapStatic
                  position={[property.latitude, property.longitude]}
                  height={256}
                  client:only
                />
              </div>
            </main>
            <aside class="hidden w-[30rem] h-60 md:flex flex-col justify-center items-center gap-4 shadow-[0px_0px_6px_2px_rgba(0,_0,_0,_0.1)] rounded-2xl">
              <h3 class="font-serif text-2xl capitalize mb-4">
                property agent
              </h3>
              <div class="flex justify-start items-center gap-4 w-52 lg:w-64">
                <img
                  class="size-14 rounded-full"
                  src="/images/alexhidalgo.webp"
                  alt="agent photo"
                />
                <div class="flex flex-col justify-start items-start gap-1">
                  <p class="text-base">Alex Hidalgo</p>
                  <p class="flex justify-start items-center gap-1">
                    <Phone className="size-4 stroke-black" />
                    <a href="tel:+17222404094" class="text-sm underline">
                      +1 772 240 4094
                    </a>
                  </p>
                </div>
              </div>
              <a
                href="/contact/"
                class="bg-primary text-white py-2 px-4 rounded-2xl text-sm flex justify-center items-center w-52 lg:w-64"
              >
                Get in touch
              </a>
            </aside>
          </div>
        </section>
      )
    }
  </main>
</MapLayout>
<script>
  const backBt = document.getElementById("backButtonOverview");

  backBt?.addEventListener("click", async (e) => {
    e.preventDefault();
    window.history.back();
  });
</script>
