---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import CityItem from "@/components/CityItem.astro";
import Trans from "@/i18n/Trans.astro";

const CITIES = [
  {
    title: "Miramar",
    subtitle: "The World Traveler",
    desc: "Miramar is like having a friend who's a globe-trotter. They're open-minded, culturally diverse, and always up for international adventures.",
    img1: "/images/miramar-1.webp",
    img2: "/images/miramar-2.webp",
    href: "/",
  },
  {
    title: "Miramar",
    subtitle: "The World Traveler",
    desc: "Miramar is like having a friend who's a globe-trotter. They're open-minded, culturally diverse, and always up for international adventures.",
    img1: "/images/miramar-1.webp",
    img2: "/images/miramar-2.webp",
    href: "/",
  },
  {
    title: "Miramar",
    subtitle: "The World Traveler",
    desc: "Miramar is like having a friend who's a globe-trotter. They're open-minded, culturally diverse, and always up for international adventures.",
    img1: "/images/miramar-1.webp",
    img2: "/images/miramar-2.webp",
    href: "/",
  },
];
---

<Layout title="Welcome a hidalgo">
  <Menu isFloating isWhite />
  <div class="h-[500px] w-full bg-home-banner bg-cover bg-bottom bg-no-repeat">
  </div>
  <main class="">
    <section class="bg-white pt-16 lg:pt-40 md:pt-24 px-20 max-w-7xl mx-auto">
      <h1 class="uppercase font-serif text-3xl md:text-4xl mb-20">
        Let's explore <div class="italic normal-case mt-2">
          Broward's real estate together!
        </div>
      </h1>
    </section>

    <section class="hidden sm:block">
      {
        CITIES.map((data, index) => (
          <CityItem
            title={data.title}
            subtitle={data.subtitle}
            desc={data.desc}
            img1={data.img1}
            img2={data.img2}
            href={data.href}
            isRight={index % 2 != 0 ? true : false}
          />
        ))
      }
    </section>
    <section class="block sm:hidden">city mobile</section>
  </main>
</Layout>
