---
import ArrowLarge from "@/components/icons/ArrowLarge.astro";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const { title, subtitle, desc, img, href } = Astro.props;
---

<article class="w-[90%] bg-white hover:bg-primary-100 rounded-2xl shadow-md">
  <div class="w-full p-10 my-4">
    <h2 class={`capitalize font-serif text-3xl`}>
      {title}<div class="italic mt-3">{subtitle}</div>
    </h2>

    <p class="font-sans text-base mt-5 mb-10 w-60 md:w-72 lg:w-80">
      {desc}
    </p>

    <a
      class="border border-black flex items-center justify-start gap-4 w-48 py-2 px-4 rounded-2xl text-sm mt-4"
      href={href}
      >{t("home.city.boton1")}
      <ArrowLarge className="mt-1 h-4 stroke-black" />
    </a>
  </div>

  <img class="w-full rounded-b-2xl" src={img} alt="city photo 1" />
</article>
