---
import CityItem from "@/components/CityItem.astro";
import CitiesSlider from "@/components/CitiesSlider.tsx";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const CITIES = [
  {
    title: t("home.city1.title"),
    subtitle: t("home.city1.subtitle"),
    desc: t("home.city1.description"),
    img1: "/images/cities/miramar-1.webp",
    img2: "/images/cities/miramar-2.webp",
    href: "/buyer/result/sale/miramar/Single%20Family%20Residence/0-5000000/0-5000/0/0/none/1/",
  },
  {
    title: t("home.city2.title"),
    subtitle: t("home.city2.subtitle"),
    desc: t("home.city2.description"),
    img1: "/images/cities/pembrohke-1.webp",
    img2: "/images/cities/pembrohke-2.webp",
    href: "/buyer/result/sale/pembroke%20pines/Single%20Family%20Residence/0-5000000/0-5000/0/0/none/1/",
  },
  {
    title: t("home.city3.title"),
    subtitle: t("home.city3.subtitle"),
    desc: t("home.city3.description"),
    img1: "/images/cities/southwest-1.webp",
    img2: "/images/cities/southwest-2.webp",
    href: "/buyer/result/sale/Southwest%20Ranches/Single%20Family%20Residence/0-5000000/0-5000/0/0/none/1/",
  },
];
const CITIES2 = [
  {
    title: t("home.city4.title"),
    subtitle: t("home.city4.subtitle"),
    desc: t("home.city4.description"),
    img1: "/images/cities/weston-1.webp",
    img2: "/images/cities/weston-2.webp",
    href: "/buyer/result/sale/Weston/Single%20Family%20Residence/0-5000000/0-5000/0/0/none/1/",
  },
  {
    title: t("home.city5.title"),
    subtitle: t("home.city5.subtitle"),
    desc: t("home.city5.description"),
    img1: "/images/cities/cooper-1.webp",
    img2: "/images/cities/cooper-2.webp",
    href: "/buyer/result/sale/Cooper%20City/Single%20Family%20Residence/0-5000000/0-5000/0/0/none/1/",
  },
  {
    title: t("home.city6.title"),
    subtitle: t("home.city6.subtitle"),
    desc: t("home.city6.description"),
    img1: "/images/cities/davie-1.webp",
    img2: "/images/cities/davie-2.webp",
    href: "/buyer/result/sale/Davie/Single%20Family%20Residence/0-5000000/0-5000/0/0/none/1/",
  },
];

const CITIESMOBILE = [...new Set([...CITIES, ...CITIES2])];
---

<section class="sm:hidden w-full mx-auto">
  <CitiesSlider
    button={t("home.city.boton1")}
    cities={CITIESMOBILE}
    client:load
  />
</section>

<section class="hidden sm:block">
  {
    CITIES.map((data, index) => (
      <CityItem
        title={data.title}
        subtitle={data.subtitle}
        desc={data.desc}
        img1={data.img1}
        img2={data.img2}
        href={data.href}
        isRight={index % 2 != 0 ? true : false}
      />
    ))
  }
  <div class="flex justify-center items-center mt-10 mb-24">
    <button
      id="showMoreBut"
      class="border border-black w-52
    py-2 px-4 rounded-2xl text-sm"
      aria-label="Show More Cities"
      >{t("home.city.boton2")}
    </button>
  </div>
  <div id="moreCities" class="hidden">
    {
      CITIES2.map((data, index) => (
        <CityItem
          title={data.title}
          subtitle={data.subtitle}
          desc={data.desc}
          img1={data.img1}
          img2={data.img2}
          href={data.href}
          isRight={index % 2 == 0 ? true : false}
        />
      ))
    }
    <div class="flex justify-center items-center my-24">
      <button
        id="showLessBut"
        class="border border-black w-52
      py-2 px-4 rounded-2xl text-sm"
        aria-label="Show Less Cities"
        >{t("home.city.boton3")}
      </button>
    </div>
  </div>
</section>

<script>
  const showMoreBut = document.getElementById("showMoreBut"),
    showLessBut = document.getElementById("showLessBut"),
    moreCities = document.getElementById("moreCities");

  showMoreBut?.addEventListener("click", (e) => {
    e.preventDefault();

    moreCities?.classList.toggle("hidden");
    showMoreBut?.parentElement?.classList.toggle("hidden");
  });

  showLessBut?.addEventListener("click", (e) => {
    e.preventDefault();

    moreCities?.classList.toggle("hidden");
    showMoreBut?.parentElement?.classList.toggle("hidden");
  });
</script>
