---
import Photos from "@/components/icons/Photos.astro";
import PropertyAllGalery from "./PropertyAllGalery.astro";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const { address, photos } = Astro.props;
const total = photos.length;
---

<header class="relative h-96 w-full">
  <h1 class="hidden">{address}</h1>
  <button
    id="photosButton"
    class="absolute flex justify-center items-center gap-2 bottom-4 right-4 rounded-xl shadow-md bg-white px-4 py-2 cursor-pointer"
  >
    <Photos className="size-4 stroke-black" />
    <span class="text-xs">{t("buyer.overview.photos")}</span>
  </button>

  <PropertyAllGalery photos={photos} />

  {
    total >= 4 && (
      <div class="w-full h-96 grid md:grid-cols-3 lg:grid-cols-4 gap-2">
        <div class="rounded-t-2xl md:rounded-none md:rounded-tl-2xl lg:rounded-l-2xl overflow-hidden col-span-2 lg:row-span-2">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[0]}
            alt="property img"
          />
        </div>
        <div class="rounded-none md:rounded-tr-2xl lg:rounded-none overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[1]}
            alt="property img"
          />
        </div>
        <div class="rounded-none md:rounded-bl-2xl lg:rounded-none lg:rounded-se-2xl overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[2]}
            alt="property img"
          />
        </div>
        <div class="rounded-bl-2xl md:rounded-none overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[3]}
            alt="property img"
          />
        </div>
        <div class="rounded-br-2xl md:rounded-ee-2xl overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[4]}
            alt="property img"
          />
        </div>
      </div>
    )
  }
  {
    total == 3 && (
      <div class="w-full h-96 grid md:grid-cols-3 lg:grid-cols-4 gap-2">
        <div class="rounded-t-2xl md:rounded-none md:rounded-tl-2xl lg:rounded-l-2xl overflow-hidden col-span-2">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[0]}
            alt="property img"
          />
        </div>
        <div class="rounded-bl-2xl md:rounded-none md:rounded-tr-2xl lg:rounded-none overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[1]}
            alt="property img"
          />
        </div>
        <div class="rounded-br-2xl md:rounded-none md:rounded-b-2xl md:col-span-3 lg:col-auto lg:rounded-none lg:rounded-r-2xl overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[2]}
            alt="property img"
          />
        </div>
      </div>
    )
  }
  {
    total == 2 && (
      <div class="w-full h-96 flex flex-row justify-center items-center gap-2">
        <div class="h-full w-full rounded-2xl md:rounded-none md:rounded-l-2xl overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[0]}
            alt="property img"
          />
        </div>
        <div class="h-full w-full hidden md:block rounded-b-2xl md:rounded-none md:rounded-r-2xl overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[1]}
            alt="property img"
          />
        </div>
      </div>
    )
  }
  {
    total == 1 && (
      <div class="w-full h-96 flex justify-center items-center">
        <div class="h-full w-full rounded-2xl overflow-hidden">
          <img
            class="h-full w-full object-cover group-hover/property:scale-105 transition-transform duration-100 ease-linear"
            src={photos[0]}
            alt="property img"
          />
        </div>
      </div>
    )
  }
</header>

<script>
  const but = document.getElementById("photosButton"),
    win = document.getElementById("photosAllDialog") as HTMLDialogElement;

  but?.addEventListener("click", () => {
    win?.showModal();
  });
</script>
