---
import Layout from "@/layouts/Layout.astro";
import Menu from "@/components/Menu.astro";
import Teamitem from "@/components/TeamItem.astro";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const relativeLocale = Astro.currentLocale || "en";
const t = useTranslations(relativeLocale as keyof typeof languages);

const teamItems = [
  {
    img: "/images/team/josemiguelarreaza.webp",
    title: t("our.team.title1"),
    subtitle: t("our.team.subtitle1"),
    desc1: t("our.team.description1"),
    desc2: undefined,
    web: "www.floridanewdream.com",
  },
  {
    img: "/images/team/rociotorres.webp",
    title: t("our.team.title2"),
    subtitle: t("our.team.subtitle2"),
    desc1: t("our.team.description2"),
    desc2: undefined,
    web: "www.innovativemlo.com",
  },
  {
    img: "/images/team/yerlyspacheco.webp",
    title: t("our.team.title3"),
    subtitle: t("our.team.subtitle3"),
    desc1: t("our.team.description3"),
    desc2: undefined,
    web: undefined,
  },
  {
    img: "/images/team/alexhidalgo.webp",
    title: t("our.team.title4"),
    subtitle: t("our.team.subtitle4"),
    desc1: t("our.team.description4"),
    desc2: undefined,
    web: "www.hidalgorealtor.com",
  },
];

const title = t("SEO.team.title");
const description = t("SEO.team.description");
---

<Layout title={title} description={description}>
  <Menu isFloating isWhite />
  <div
    class="h-[473px] w-full bg-team-banner bg-cover bg-bottom bg-no-repeat flex justify-center items-center"
  >
    <div class="font-serif italic text-6xl sm:text-7xl text-white">
      {t("team.header.title")}
    </div>
  </div>

  <section
    class="flex flex-col md:flex-row justify-evenly items-center max-w-7xl mx-auto"
  >
    <div
      class="flex-col justify-around items-center gap-6 w-4/5 md:w-96 lg:w-[485px] my-20"
    >
      <h2 class="font-serif italic text-5xl text-left my-10 md:my-20">
        {t("team.title")}
      </h2>
      <p class="mb-6">
        {t("team.description1")}
      </p>

      <p class="mb-6">
        {t("team.description2")}
      </p>

      <p>{t("team.description3")}</p>
      <p>Florida New Dream</p>
      <a target="_blank" href="https://www.floridanewdream.com"
        >www.floridanewdream.com</a
      >
    </div>

    <img
      class="h-52 w-auto items-center mb-10 md:mb-0"
      src="/images/logo-florida-color.webp"
      alt="Logo a color de Florida"
    />
  </section>

  <section
    class="bg-primary-100 flex justify-center items-center py-16 lg:py-40 md:py-24 px-20"
  >
    <div class="w-full max-w-7xl mx-auto text-center">
      <h2 class="capitalize italic font-serif text-4xl md:text-5xl">
        {t("our.team.title")}
      </h2>
      <p class="font-sans w-full md:w-[548px] mx-auto my-10">
        {t("our.team.description")}
      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-20 md:gap-14 mt-28">
        {
          teamItems.map(({ img, title, subtitle, desc1, desc2, web }) => (
            <Teamitem
              img={img}
              title={title}
              subtitle={subtitle}
              desc1={desc1}
              desc2={desc2}
              web={web}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
